#!/usr/bin/env bash
# Copyright (C) 2018, Siemens AG
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# version 2 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
#
# SPDX-License-Identifier: GPL-2.0-only

##############################################
# This scripts hold the credentials for mongodb created as a docker container
# Make sure you change them before running the create_docker_mongodb.sh
##############################################


# Connection
MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017

# Root user
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root

# Admin User
MONGODB_ADMIN_USERNAME=admin
MONGODB_ADMIN_PASSWORD=admin

# Application Database User
MONGODB_APPLICATION_DATABASE=rigel
MONGODB_APPLICATION_USERNAME=user
MONGODB_APPLICATION_PASSWORD=user
